@using SequencesWebApp.ViewModels
@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <button>Create New Sequence</button>
    <h1 class="display-4">Sequences</h1>
    @if (Model.Sequences == null)
    {
        <p>No existing sequences</p>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Integers</th>
                    <th scope="col">Order</th>
                    <th scope="col">Sorting Time</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sequence in Model.Sequences)
                {
                    <tr>
                        <td>
                            @string.Join(", ", sequence.Integers.Select(x => x.Value))
                        </td>
                        <td>
                            @(sequence.IsAscending ? "Ascending" : "Descending")
                        </td>
                        <td>
                            @sequence.SortingTime
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }

</div>
