@using SequencesWebApp.ViewModels
@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <button>Create New Sequence</button>
    <h1 class="display-4">Sequences</h1>
    @if (Model.Sequences == null)
    {
        <p>No existing sequences</p>
    }
    else
    {
        @foreach(var sequence in Model.Sequences)
        {
            <p>Sequence</p>
            <ul>
                @foreach(var item in sequence.Integers)
                {
                    <li>@item.Value</li>
                }
            </ul>
        }
    }

</div>
